name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive 

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build Debug APK
      run: ./gradlew assembleDebug --stacktrace
    - name: Build Release APK
      run: ./gradlew assembleRelease --stacktrace
    - name: Upload Debug APK
      uses: actions/upload-artifact@v4
      if: success()
      with:
        name: debug-apk
        path: 'build/outputs/apk/debug/*.apk'
        retention-days: 30
    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      if: success()
      with:
        name: release-apk
        path: 'build/outputs/apk/release/*.apk'
        retention-days: 30
